.hacklist-page {
    font-size: calc(0.2em + 1.3vw);
}

.hacktitle-wrapper{
    margin-top: 4vh;
    color: white;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) );
    padding: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hacktitle-inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
}

.subheading{
    width: 50vw;
}

.hackathon-title {
    font-size: 3rem;
    margin: 8%;
    font-weight: 500;
}

.right-justify{
    text-align: right;
}

.justify{
    justify-content: flex-start !important;
    margin-top: 30px;
}
.space-evenly{
    width: 100%;
    justify-content: space-evenly;
}

.circles{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
}

#circle-img {
    width: 70vw;
}

.social{
    margin-top: 10vh;
    margin-left: 0vw;
    text-align: right;
}

.social img {
    margin-bottom: 5vh;
}

.first{
    margin-top: 20px;
    margin-bottom: 20px;
}
.last{
    margin-bottom: 40px;
}

.inlay{
    padding: 0px !important;
    margin: 2%;
    position: relative;
    color: white;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 180px;
    min-width: 300px;
    max-width: 350px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    overflow: hidden;
}
/*.bottom-right{
    position: absolute;
    bottom: 5%;
    right: 5%;
}
.bottom-left {
    position: absolute;
    bottom: 5%;
    left: 5%;
}*/

.guidelines {
    width: 40%;
    font-size: 1.5rem !important;
}
.name{
    text-align: right;
    padding: 2%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.80) );
    border-radius: 10%;
}

.flex-bottom {
    display: flex;
    justify-content: space-between;
}

.btn-custom {
    background: #e34b53;
    color: white;
}

.my-card-link {
    transition: all .1s ease-in-out;
    margin: 1em;
}

.my-card-link:hover {
    transform: scale(1.05);
    text-decoration: none;
    color: white;
}

.sponsors-group-wrapper {
    margin: 5vh 0 1vh 8vmin;
}

.sponsors-group {
    width: 40vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.sponsor {
    padding: 20px;
    justify-self: center;
    align-self: center;
}


@media only screen and (max-width: 790px) {

    #circle-img {
        width: 550px;
        filter: brightness(60%);
    }

    .hacktitle-wrapper {
        background-color: rgba(0, 0, 0, 0.3);
        flex-flow: column;
        justify-content: space-around;
    }

    .hacktitle-inner-wrapper {
        align-items: center;
        text-align: justify;
    }

    .subheading {
        width: 100%;
    }

    .justify{
        justify-content: flex-start !important;
        margin-top: 40vh !important;
    }

    .sponsors-group-wrapper {
        margin: 20vmax auto 0 auto;
    }

    .hacklist-page {
        font-size: 0.9em;
    }

    .sponsors-group {
        width: 100%;
    }

    .sponsor {
        padding: 1vw;
    }
    .hackathon-title {
        font-size: 2rem;
        margin: 10%;
        font-weight: 500;
    }
    .sastra-logo {
        width: 300px !important;

    }

}

.sastra-logo {
    width: 45%;

}
