.circles{
    position: absolute;
    top: -20vh;
    right: 0;
}
.social{
    margin-top: 20vh;
    margin-left: 2vw;
}
p{
    color: white;
}
.first{
    margin-top: 20px;
    margin-bottom: 20px;
}
.last{
    margin-bottom: 40px;
}
.subheading{
    width: 50%;
    margin-top: 30px;
}
.display-1{
    font-weight: 900;
}
.right-justify{
    text-align: right;
}
.mar{
    margin-right: 2vw;
}
.justify{
    justify-content: flex-start !important;
    margin-top: 30px;
}
.space-evenly{
    justify-content: space-evenly;
}

.inlay{
    padding: 0px !important;
    margin: 2%;
    position: relative;
    color: white;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 180px;
    min-width: 300px;
    max-width: 350px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    overflow: hidden;
}
/*.bottom-right{
    position: absolute;
    bottom: 5%;
    right: 5%;
}
.bottom-left {
    position: absolute;
    bottom: 5%;
    left: 5%;
}*/
.name{  
    text-align: right;
    padding: 1.5%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.80) );
    border-radius: 10%;
}

.flex-bottom {
    display: flex;
    justify-content: space-between;
}

.btn-custom {
    background: #e34b53;
    color: white;
}

.my-card-link {
    transition: all .1s ease-in-out;
    margin: 1em;
}

.my-card-link:hover {
    transform: scale(1.05);
    text-decoration: none;
    color: white;
}