.footer {
    background-color: #e34b53;
    color: white;
    padding: 8vh;
    /*padding-bottom:  0;*/
}

.contact-title {
    font-weight: bolder;
}

.line-contact {
    width: 10%;
    height: 4px;
    background-color: #fff !important;
    margin-left: auto;
    border-radius: 5px;
}

.with-line {
    border-right: 1px solid white;
}

.contact-social {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

.contact-social span {
    margin-right: 30px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
}

.dsc-logo-footer {
    width: calc(8rem + 5vw);
}

.dsc-credits {
    margin-top: 10vh;
}

#ft-daksh {
    max-width: 90vw;
}

.row .footer {
    align-items: center;
    justify-content: center;
}

.center-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
}
.center-image :hover{
    cursor: pointer;
}
@media only screen and (max-width: 584px) {
    .with-line {
        border-right: none;
    }
    #ft-daksh {
        max-width: 60vw;
        margin-top: 10%;
    }
}