.footer {
    background-color: #e34b53;
    color: white;
    padding: 5%;
    padding-bottom:  0;
}

.contact-title {
    font-weight: bolder;
}

.line-contact {
    width: 10%;
    height: 4px;
    background-color: #fff !important;
    margin-left: auto;
    border-radius: 5px;
}

.with-line {
    border-right: 1px solid white;
}

.contact-social {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

.contact-social span {
    margin-right: 30px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
}
