.circleWrapper{
    position: absolute;
    margin-top: -110vh !important;
    margin-left: 50vw !important;
}
.shapes{
    position: absolute;
    margin-left: -40vw;
    margin-top: 10vw;
}
.width{
    width: 10rem;
}
.row{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    border: none;
}
.social{
    margin-top: 35vh;
}
.social img{
    margin-bottom: 7vh;
}
span{
    font-size: 17px;
    font-weight: bold;
}
.flexi{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scroller{
    margin-top: 20vh;
}
.register{
    border-style: solid;
    border-color: black;
    margin-bottom: 10px;
    border-radius: 2em;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 1em;
    padding-right: 1em;
}
.companies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    text-align: center;
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 60px;
}
.card-text{
    font-size: 15px;
}

.marbot{
    margin-bottom: 0px !important;
}

/* New Changes */

.title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.daksh-title {
    width: 40%;
    margin: 10vh auto !important;
    background-color: blue;
    text-align : center;
}
