.circleWrapper{
    position: absolute;
    margin-top: -100% !important;
    margin-left: 45% !important;
    z-index: -2;
}
.shapes{
    position: absolute;
    margin-left: -40vw;
    margin-top: 10vw;
}
.width{
    width: 10rem;
}
/* .row{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}
.main-col{
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.card{
    border: none;
}
/* .social{
    margin-top: 35vh;
}
.social img{
    margin-bottom: 7vh;
} */

.flexi{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scrollwrapper {
    width: 5%;
    margin: 0 auto !important;
}

.scroller {
    width: 0  !important;
    background-color: transparent !important;
    border: 0;
    outline: none !important;
    margin: 0 auto !important;
}

.register{
    border-style: solid;
    border-color: black;
    margin-bottom: 10px;
    border-radius: 2em;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

.card-title {
    color: black;
    font-weight: bold;
}

.marbot{
    margin-bottom: 0px !important;
}

/* New Changes */


.dev-wrapper {
    text-align: center;
    width: 100% !important;
}

.dev-wrapper img {
    width: 100%;
    min-width: 400px;
}

.title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.daksh-title {
    width: 70%;
    margin: 7vh auto !important;

}

.daksh-title img {
    width: 60%;
}

.daksh-title h4, p {
    padding-left: 5%;
}
.daksh-title h4 {
    font-size: 2rem;
    color: black;
}

.daksh-title p {
    color: gray;
}


.icons {
    width: 5em !important;
    float: left;
    padding-left: 20%;
    margin: 5px;
}

.timings-block {
    display: flex;
    flex-flow: row;
}

.timings-block p {
    color: black;
    margin: 0 20px ;
    padding: 0;
}

.details {
    display: flex;
    flex-flow: column;
}

.insta {
    width: 30px !important;
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    .daksh-title {
        width: 90%;
        margin: 7vh auto !important;

    }
    .daksh-title img {
        width: 70%;
    }
    .circleWrapper{
       display: none;
    }
}

.card-img-top {
    width: 30% !important;
}

.all-events {
    padding: 8vh 0;
}
