.circleWrapper{
    position: absolute;
    margin-top: -100% !important;
    margin-left: 45% !important;
    z-index: -2;
}
.shapes{
    position: absolute;
    margin-left: -40vw;
    margin-top: 10vw;
}
.width{
    width: 10rem;
}

.row{
    /* position: relative; */
    /*margin-top: -2.5rem;*/
}
.card{
    border: none;
}
/* .social{
    margin-top: 35vh;
}
.social img{
    margin-bottom: 7vh;
} */

.flexi{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scrollwrapper {
    width: 5%;
    margin-left: 93% ;
    /* margin: 0 auto !important; */
}
.scrollwrapper :hover{
    cursor: pointer;
    
}
.scroller {
    margin-top : -1.5rem !important;
    width: 0  !important;
    background-color: transparent !important;
    border: 0;
    outline: none !important;

}
.register{
    border-style: solid;
    border-color: black;
    margin-bottom: 10px;
    border-radius: 2em;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

.card-title {
    color: black;
    font-weight: bold;
}

.marbot{
    margin-bottom: 0px !important;
}

/* New Changes */


.dev-wrapper {
    text-align: center;
    width: 100% !important;
}

.dev-wrapper img {
    width: 100%;
    /* min-width: 400px; */
}

.title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.daksh-title {
    width: 70%;
    margin-top: 7vh  !important;
    margin-left:auto !important;
    margin-right:auto !important;
    margin-bottom: 0px !important;

}

.daksh-title img {
    width: 60%;
}

.daksh-title h4, p {
    padding-left: 5%;
}
.daksh-title h4 {
    font-size: 2rem;
    color: black;
}

.daksh-title p {
    color: gray;
}


.icons {
    width: 5em !important;
    float: left;
    padding-left: 20%;
    margin: 5px;
}

.timings-block {
    display: flex;
    flex-flow: row;
}

.timings-block p {
    color: black;
    margin: 0 20px ;
    padding: 0;
}

.details {
    display: flex;
    flex-flow: column;
}
#styleRow{
    display:flex;
}
#box1{
    flex:1;
}
#box2{
    flex:2;
}
#box3{
    flex:1;
}
#box4{
    flex:2;
}
.insta {
    width: 30px !important;
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    .daksh-title {
        width: 90%;
        margin-top: 7vh  !important;
        margin-left:auto !important;
        margin-right:auto !important;
        margin-bottom: 0px !important;

    }
    .daksh-title img {
        width: 70%;
    }
    .circleWrapper{
       display: none;
    }
    .scrollwrapper{
        margin-left: 40%;
    }
}

.card-img-top {
    width: 30% !important;
}

#plethora {
    margin-bottom: 2vh;
}

.all-events {
    padding: 8vh 0;
    transition: all .1s ease-in-out;
}

.all-events:hover {
    transform: scale(1.09);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    cursor: pointer;
}

.all-events:hover .hackathon-link {
    color: white;
    text-decoration: none;
}

.all-events:hover .card-title {
    color: white;
    text-decoration: none;
}

.hackathon-link {
    color: black;
    text-decoration: none;
    display: inline;
}


.hackathon-link:hover {
    text-decoration: none;
    color: white;
}


@media (max-width : 575px){
    #styleRow{
        flex-wrap: wrap;
    }
    #box1{
        flex:1;
    }
    #box2{

        flex:2;
    }
    #box3{

        flex:1;
    }
    #box4{
        flex:2;
    }
    .scrollwrapper{
        margin-left: 30%;
    }
}
