.circleWrapper{
    position: absolute;
    margin-top: -110vh !important;
    margin-left: 50vw !important;
}

.row{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;

}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social{
    margin-top: 35vh;
}
.social img{
    margin-bottom: 7vh;
}

span{
    font-size: 17px;
    font-weight: bold;
}

.scroller{
    margin-top: 15vh;
}


