#navBar{
    z-index: 1;
}

.nav-item{
    border-style: solid;
    border-color: white;
    background-color: #fff;
    color: black !important;
    border-radius: 2em;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

.nav-link{
    color: black !important;
}

.login {
    background-color: transparent !important;
    border: 0;
    outline: 0;
    width: 100%;
}
